/* Core Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  text-align: center;
  background-color: #225945;
  min-width: 200px;
}

h1, h2, h3 {
  margin: 0;
}

footer {
  background: #225945;
  color: white;
  padding: 2em;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  text-align: justify;
  text-align-last: center;
  color: #171717;
  font-size: 16px;
}

#header {
  min-height: 450px;
  text-align: center;
}

#header h1 {
  padding-top: 200px;
}

#header p {
  margin: 0;
}

#header .banner-image {
  position: absolute;
  background: url("../images/placeholder-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
}

/* Main Content Styling */
#main-content {
  padding: 2em;
}

#content-tag {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  white-space: nowrap;
}

#about-main {
  display: inline-block;
  padding: 2em;
}

#about-main .about-image {
  background: url("../images/ashanti-about.png");
  background-size: 300px 480px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

#about-main .section-header {
  color: white;
}

#about-main p {
  color: white;
}

#about-sec {
  display: inline-block;
  padding: 2em;
}

#about-sec iframe {
  min-width: 100%;
  max-width: 100%;
  height: 315px;
  border: none;
}

#about-sec .section-header {
  color: white;
}

#about-sec p {
  color: white;
}

#contact-main {
  display: inline-block;
  padding: 2em;
}

.contact-wrapper {
  background-color: white;
}

/* Nav Stylings */
.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #225945;
}

.menu {
  width: 100%;
  display: none;
}

.main-nav a {
 clear: right;
  display: block;
  padding: 1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid white;
}

.main-nav a:visited {
  color: white;
}

.main-nav a:hover {
  text-decoration: underline;
}

.section-header {
  text-align: center;
}

label {
  display: block;
  cursor: pointer;
  text-align: right;
  color: white;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/* Card Stylings */

.card-wrapper {
  background-color: #f2f2f2;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}

.card {
  margin: 50px auto 50px auto;
  padding-left: 2em;
  padding-right: 2em;
}

.card-title {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #225945;
}

.card-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-content a {
  color: #225945;
}

.card-content a:visited {
  color: #225945;
}

.section-header {
  color: #225945;
}

/* Image Stylings */

#portfolio-main {
  background-color: #f2f2f2;
  padding: 2em 0 2em 0;
}

.content-wrap img {
  display: inline-block;
  width: 300px;
  padding-top: 19em;
}

.port-img {
  max-width: 250px;
  display: block;
  margin:auto;
  padding-top: 70px;
}
.image-box-grey {
  float: left;
  width: 100%;
  height: auto;
  background-color: #333;
  padding-bottom: 70px;
}
.image-box-white {
  float: left;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

/* Media Query */
@media (min-width: 780px) {
  body {
    display: none;
  }
  .card img {
    float: none;
  }
}
