/* Core Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  text-align: center;
  background-color: #225945;
  min-width: 200px;
}

h1, h2, h3 {
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

p {
  text-align: justify;
  text-align-last: center;
  color: #171717;
  font-size: 16px;
}

#header {
  min-height: 500px;
  text-align: center;
}

#header h1 {
  padding-top: 200px;
}

#header p {
  margin: 0;
}

#header .banner-image {
  position: absolute;
  background: url("../images/placeholder-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
}

/* Main Content Styling */
#tag-content {
  width: 100%;
  padding: .89em;
}

#content-tag {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  white-space: nowrap;
}

#about {
  padding-left: 2em;
  padding-right: 2em;
}

.about-image {
  background: url("../images/ashanti-about.png");
  background-size: 300px 480px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

#about .section-header {
  color: white;
}

#about p {
  color: white;
}

#about iframe {
  min-width: 100%;
  max-width: 100%;
  height: 315px;
  border: none;
}

#about-sec .section-header {
  color: white;
}

#about-sec p {
  color: white;
}

#contact-main {
  display: inline-block;
  padding: 2em;
}

#contact-main a {
  color: #225945;
}

.contact-wrapper {
  background-color: white;
}

.content {
  width: 100%;
  background-color: white;
}

.content-header {
  margin: 10px auto 10px auto;
  padding-left: 2em;
  padding-right: 2em;
}

.content-para {
  margin: 25px auto 50px auto;
  padding-left: 2em;
  padding-right: 2em;
  text-align-last: left;
}

#donors {
  padding-left: 2em;
  padding-right: 2em;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

/* Nav Stylings */
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #225945;
  z-index: 9999999;
}

#nav img {
  display: inline-block;
  float: left;
  width: 115px;
  padding-left: 1em;
  padding-top: 1em;
  vertical-align: middle;
}

.menu {
  width: 100%;
  display: none;
  background-color: white;
}

#nav a, #nav a:focus {
  clear: right;
  display: block;
  padding: 1em;
  font-weight: bold;
  color: #225945;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #225945;
}

#nav a:hover {
  text-decoration: none;
  opacity: 0.7;
}

#nav a:visited {
  color: #225945;
}

.section-header {
  text-align: center;
}

label {
  display: block;
  cursor: pointer;
  text-align: right;
  color: white;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
}

#toggle {
  display: none;

}

#toggle:checked + .menu {
  display: block;
}

/* Card Stylings */

.content-wrapper {
  background-color: #f2f2f2;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}

.dono-image {
  width: 150px;
  margin: 0;
  vertical-align: middle;
}

.card {
  padding: 2em 2em 2em 2em;
  flex-grow: 1;
}

.card-title {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #225945;
}

.card-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-content p {
  text-align-last: left;
}

.card-content a {
  color: #225945;
}

.card-content a:visited {
  color: #225945;
}

.section-header {
  color: #225945;
}

.hover-image {
  opacity: 0.7;
}

.about-content p {
  text-align-last: left;
}

/* Image Stylings */

#portfolio-main {
  background-color: #f2f2f2;
  padding: 2em 0 2em 0;
}

.image-wrap img {
  display: inline-block;
  width: 300px;
  padding-top: 19em;
}

#content {
  width: 100%;
  background-color: white;
}

/* Footer Styling */

footer {
  text-align: center;
  background: #225945;
  color: white;
  padding: 2em;
}

footer div {
  grid-column: 2/4;
}

footer a {
  color: white;
}

a:hover {
  color white;
}

footer a:visited {
  color: white;
}

#social-foot {
  padding: 0, 1em, 1em, 0;
}

#social-foot a {
  color: white;
  padding: 1em;
  text-decoration: none;
}

.fa {
  font-size: 25px;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin, .fa-youtube {
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

/* Media Query */
@media (min-width: 780px) {
  body {
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }

  .tag-wrap, .contact-wrapper {
    grid-column: 2/4;
  }

  .content-wrapper {
    grid-column: 2/4;
  }

  .about-wrapper, .card-wrapper {
    grid-column: 2/4;
    display: flex;
  }

  #about {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .about-content {
    width: 49%;
    padding: 2em;
    justify-content: space-around;
    flex-grow: 1;
  }

  #content {
    width: 100%;
    background-color: white;
  }

  .card {
    width: 31%;
    justify-content: space-around;
  }

  .tag-wrap img {
    width: 400px;
  }

/* Nav Stylings Desktop */
  .menu {
    display: block;
    background-color: #225945;
    height: auto;
    grid-column: 2/4;
  }

  #nav-wrap {
    float: right;
  }

  #nav a, #nav a:focus {
    display: inline-block;
    clear: none;
    color: white;
    border-bottom: none;
    text-decoration: none;
  }

  #nav a:visited {
    color: white;
  }

  #nav {
    padding: .6em;
  }

  #nav img {
    display: none;
  }

  #nav label {
    display: none;
  }

  #toggle {
    display: none;
  }
}
