/* Core Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #97e7ca;
  min-width: 200px;
}

h1, h2, h3 {
  margin: 0;
}

footer {
  background: #44b68d;
  padding: 2em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#header {
  min-height: 450px;
  text-align: center;
}

#header h1 {
  padding-top: 200px;
}

#header p {
  margin: 0;
}

#header .banner-image {
  position: absolute;
  background: url("../images/placeholder-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
}

/* Main Content Styling */
#main-content {
  padding: 2em;
}

#content-tag {
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1px;
}

#about-main {
  display: inline-block;
  padding: 2em;
}

#about-main .about-image {
  background: url("../images/ashanti-about.png");
  background-size: 300px 480px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

#about-sec {
  display: inline-block;
  padding: 2em;
}

#contact-main {
  display: inline-block;
  padding: 2em;
}

/* Nav Stylings */
#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #44b68d;
}

#main-nav ul {
  list-style-type: none;
  text-align: left;
  width: 100%;
}

#main-nav li {
  display: inline-block;
  padding: 0.5em;
  font-weight: bold;
}

#main-nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#main-nav li a:visited {
  color: white;
}

#main-nav li a:hover {
  text-decoration: underline;
}

/* Card Stylings */

.card-wrapper {
  background-color: #f2f2f2;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
}

.card {
  margin: 50px auto 50px auto;
  padding: 2em;
}

.card-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #333;
  text-decoration: underline;
}

.card-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.service-info {
  background: url("../images/placeholder-icon.png");
  background-size: 96px 96px;
  background-repeat: no-repeat;
  padding-left: 100px;
  height: 100px;
}

.card-content img {
  display: absolute;
}

/* Image Stylings */

#portfolio-main {
  background-color: #f2f2f2;
  padding: 2em 0 2em 0;
}
.port-img {
  max-width: 250px;
  display: block;
  margin:auto;
  padding-top: 70px;
}
.image-box-grey {
  float: left;
  width: 100%;
  height: auto;
  background-color: #333;
  padding-bottom: 70px;
}
.image-box-white {
  float: left;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

/* Media Query */
@media (min-width: 780px) {
  body {
    display: none;
  }
  .card img {
    float: none;
  }
}
